    <div class="dark:bg-gray-900 justify-center flex flex-row items-center">
    <div
      class="min-h-full min-w-full flex flex-col items-center justify-center .bg-green-base"
    >
      <div
        class="flex flex-col bg-white shadow-md px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-3xl w-50 max-w-md"
      >
        <div class="font-bold self-center text-xl sm:text-3xl text-green-base-3">
          Cadastrar Receita
        </div>
        <div class="mt-4 self-center text-xl sm:text-sm text-gray-800">
          Preencha o formulário abaixo para enviar sua receita:
        </div>

        <div class="mt-10">
          <form action="#">
            <div class="flex flex-col mb-5">
              <label
                for="title"
                class="mb-1 text-xs tracking-wide text-gray-600"
                >Título</label
              >
              <div class="relative">
                <div
                  class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
                >
                  <i class="fas fa-at text-green-base-2"></i>
                </div>

                <input
                  id="title"
                  type="text"
                  name="text"
                  value="Título da Receita"
                  class="text-sm placeholder-gray-500 pl-10 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
                  placeholder="Coloque o nome da Receita"
                />
              </div>
            </div>
            <div class="flex flex-col mb-6">
              <label
                for="descritivo"
                class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
                >Descreva sua receita</label
              >
              <div class="relative">
                <div
                  class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"
                >
                  <span>
                    <i class="fas fa-lock text-green-base-2"></i>
                  </span>
                </div>

                <input
                  id="descritivo"
                  type="textarea"
                  name="descritivo"
                  value="Aqui vão todas as informações da receita"
                  class="text-sm placeholder-gray-500 pl-10 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400"
                  placeholder="informações da Receita"
                />
              </div>
            </div>



            <div class="mb-6 pt-4">
                <label class="mb-5 block text-xl font-semibold text-[#07074D]">
                  Upload File
                </label>
        
                <div class="mb-8">
                  <input type="file" name="file" id="file" class="sr-only" />
                  <label
                    for="file"
                    class="relative flex min-h-[200px] items-center justify-center rounded-md border border-dashed border-[#e0e0e0] p-12 text-center"
                  >
                    <div>
                      <span class="mb-2 block text-xl font-semibold text-[#07074D]">
                        Drop files here
                      </span>
                      <span class="mb-2 block text-base font-medium text-[#6B7280]">
                        Or
                      </span>
                      <span
                        class="inline-flex rounded border border-[#e0e0e0] py-2 px-7 text-base font-medium text-[#07074D]"
                      >
                        Browse
                      </span>
                    </div>
                  </label>
                </div>
        
                <div class="mb-5 rounded-md bg-[#F5F7FB] py-4 px-8">
                  <div class="flex items-center justify-between">
                    <span class="truncate pr-3 text-base font-medium text-[#07074D]">
                      banner-design.png
                    </span>
                    <button class="text-[#07074D]">
                      <svg
                        width="10"
                        height="10"
                        viewBox="0 0 10 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M0.279337 0.279338C0.651787 -0.0931121 1.25565 -0.0931121 1.6281 0.279338L9.72066 8.3719C10.0931 8.74435 10.0931 9.34821 9.72066 9.72066C9.34821 10.0931 8.74435 10.0931 8.3719 9.72066L0.279337 1.6281C-0.0931125 1.25565 -0.0931125 0.651788 0.279337 0.279338Z"
                          fill="currentColor"
                        />
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M0.279337 9.72066C-0.0931125 9.34821 -0.0931125 8.74435 0.279337 8.3719L8.3719 0.279338C8.74435 -0.0931127 9.34821 -0.0931123 9.72066 0.279338C10.0931 0.651787 10.0931 1.25565 9.72066 1.6281L1.6281 9.72066C1.25565 10.0931 0.651787 10.0931 0.279337 9.72066Z"
                          fill="currentColor"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
        
                <div class="rounded-md bg-[#F5F7FB] py-4 px-8">
                  <div class="flex items-center justify-between">
                    <span class="truncate pr-3 text-base font-medium text-[#07074D]">
                      banner-design.png
                    </span>
                    <button class="text-[#07074D]">
                      <svg
                        width="10"
                        height="10"
                        viewBox="0 0 10 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M0.279337 0.279338C0.651787 -0.0931121 1.25565 -0.0931121 1.6281 0.279338L9.72066 8.3719C10.0931 8.74435 10.0931 9.34821 9.72066 9.72066C9.34821 10.0931 8.74435 10.0931 8.3719 9.72066L0.279337 1.6281C-0.0931125 1.25565 -0.0931125 0.651788 0.279337 0.279338Z"
                          fill="currentColor"
                        />
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M0.279337 9.72066C-0.0931125 9.34821 -0.0931125 8.74435 0.279337 8.3719L8.3719 0.279338C8.74435 -0.0931127 9.34821 -0.0931123 9.72066 0.279338C10.0931 0.651787 10.0931 1.25565 9.72066 1.6281L1.6281 9.72066C1.25565 10.0931 0.651787 10.0931 0.279337 9.72066Z"
                          fill="currentColor"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="relative mt-5 h-[6px] w-full rounded-lg bg-[#E2E5EF]">
                    <div
                      class="absolute left-0 right-0 h-full w-[75%] rounded-lg bg-[#6A64F1]"
                    ></div>
                  </div>
                </div>
              </div>
        
            <div class="flex w-full">
              <button 
                type="submit"
                class="flex mt-2 items-center justify-center focus:outline-none text-white text-sm sm:text-base  bg-gradient-to-r from-green-base-2 to-yellow-base hover:bg-green-500 rounded-2xl py-2 w-full transition duration-150 ease-in"
              >
                <span class="mr-2 uppercase">Cadastrar Receita</span>
                <span>
                  <svg
                    class="h-6 w-6"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
      </div>
    </div>