<div class="w=[650px] bg-white rounded-lg shadow p-6 mb-8">
    <div class="flex justify-center w-full">
        <!-- avatar circle -->
        <div class="flex-shrink-0 mr-5">
            <div class="cursor-pointer font-bold w-12 h-12 bg-green-base flex items-center justify-center rounded-full">
            User
            </div>
        </div>
        <!-- Form -->
        <div class="flex-1">
            <div>
             <!-- Textarea -->
            <textarea class="mb-2 bg-gray-200 focus:outline-none focus:shadow-outline focus:bg-gray-100 border-transparent rounded-lg py-2 px-4 block w-full appaerance-none font-light resize-none placeholder-gray-700" placeholder="Publique sua receita aqui" name="" id="" cols="10" rows="3"></textarea>   
            <!-- Divider Line -->
            <div class="w-auto border rounded-lg"></div>
            <!-- Interactive -->
            <div class="flex justify-end items-baseline">
                <!-- Count Chars -->
                <div class="mr-5">
                    240
                </div>
                <!-- Button -->
                <div class="mt-5">
                    <button type="button" class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg bg-green-base hover:bg-gray-200 font-medium text-center shadow">
                    Publicar
                    </button>
                </div>
            </div>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Lz8JFNlRSQY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <h2>teste</h2>
            </div>
         </div>

    </div>
</div>