<div class="min-h-screen h-full w-full">
<div class="inline-block bg-white h-full">

    <div class="bg-white shadow align-middle">
        <div class="px-4 py-2 m">
            <div class="flex justify-center items-center">
                <!-- Título -->
                <div class="flex justify-between items-center text-lg md:text-xl font-bold">
                    <!-- Logo -->
                    <img class="h-10 w-10 rounded-full" src="assets/LOGO_01.png" alt="">
                    <h1>Receitas</h1>
                </div>
            </div>
        </div>
    </div> 
    <div><app-menu></app-menu></div>
</div>
</div>