<div class="h-full w-full">
<div class="inline-block bg-white h-full">

    <div class="bg-white shadow align-middle">
        <div class="px-4 py-2 m">
            <div class="flex justify-center items-center">
                <!-- Título -->
                <div class="flex justify-between items-center text-lg md:text-xl font-bold">
                    <!-- Logo -->
                    <img class="h-10 w-10 rounded-full" src="assets/LOGO_01.png" alt="">
                    <h1>Receitas</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-row h-auto">
        <nav class="w-auto h-full py-10 px-6">
            <ul>
                <li class="py-3 focus:outline-none border border-transparent px-5 rounded-lg bg-white hover:bg-green-base">
                    <span class="flex justify-start items-center">
                        <img class="h-4 w-auto" src="assets/LOGO_RECEITAS-10.png" alt="">
                        <a class="pl-2" href="#">Feed Receitas</a>
                    </span>
                </li>
                <li class="py-3 focus:outline-none border border-transparent px-5 rounded-lg bg-white hover:bg-green-base">
                    <span class="flex justify-start items-center">
                        <img class="h-4 w-auto" src="assets/LOGO_RECEITAS-11.png" alt="">
                        <a class="pl-2" href="#">Cadastrar nova</a>
                    </span>
                </li>
                <li class="py-3 focus:outline-none border border-transparent px-5 rounded-lg bg-white hover:bg-green-base">
                    <span class="flex justify-start items-center">
                        <img class="h-4 w-auto" src="assets/LOGO_RECEITAS-12.png" alt="">
                        <a class="pl-2" href="#">Editar receita</a>
                    </span>
                </li>
                <li class="py-3 focus:outline-none border border-transparent  px-5 rounded-lg bg-white hover:bg-green-base">
                    <span class="flex justify-start items-center">
                        <img class="h-4 w-auto" src="assets/LOGO_RECEITAS-13.png" alt="">
                        <a class="pl-2" href="#">Pesquisar receita</a>
                    </span>
                </li>
                <li class="py-3 focus:outline-none border border-transparent  px-5 rounded-lg bg-white hover:bg-green-base">
                    <span class="flex justify-start items-center">
                        <img class="h-4 w-auto" src="assets/LOGO_RECEITAS-14.png" alt="">
                        <a class="pl-2" href="#">Avaliações</a>
                    </span>
                </li>
                <li class="py-3 focus:outline-none border border-transparent  px-5 rounded-lg bg-white hover:bg-green-base">
                    <span class="flex justify-start items-center">
                        <img class="h-4 w-auto" src="assets/LOGO_RECEITAS-15.png" alt="">
                        <a class="pl-2" href="#">Receita em video</a>
                    </span>
                </li>
            </ul>
        </nav>

        <!-- User -->
        <div class="cursor-pointer font-bold w-12 h-12 bg-green-base flex items-center justify-center rounded-full my-auto mx-auto">
            User
        </div>

    </div>    

</div>
</div>